# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# Email
RESEND_API_KEY=""
EMAIL_FROM="noreply@darkade.net"

# Set this if you don't have a resend api key while doing development
# It'll make it so that emails are printed to the console instead of being sent
EMAILS_TO_CONSOLE=false
